.wrapper {
  width: 300px;
  height: 420px;
  margin: 50px auto;
  border: 1px solid darkgrey;
}

.profile {
  font-size: 18px;
  width: 300px;
  height: 400px;
  padding-top: 20px;
}

.description {
  width: 260px;
  margin: 0 auto;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

.name {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.tag {
  text-align: center;
  font-size: 18px;
  color: gray;
}

.location {
  text-align: center;
  font-size: 18px;
  color: gray;
  padding-bottom: 15px;
}

.stats {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.stats li{
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  
}


.label  {
  color: #555;
}

.quantity {
  color:  black;
  font-weight: 600;
}