
.green::after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: green;
}

.red:after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: red;
}

.avatar {
  margin: 0 20px 0;
}

.name {
  margin: 0 0 10px;
}