.statistics {
  margin: 0 auto;
  display: block;
  width: 400px;
}
.title {}

.statList {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  text-align: center;
}



.label {
}

.percentage {}