.wrapper {
  width: 750px;
  margin: 0 auto;
  border: 1px solid black;
}

.statistics {
  display: block;
  width: 700px;
}
.title {
  text-align: center;
}

.statList {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  text-align: center;
  border: 1px solid green;
  width: 100px;
}



.label {
}

.percentage {}